.qr-container {
  margin: 30px 5%;

  .big-title {
    border-bottom: 0;
    margin-bottom: 0;

    .title {
      padding-top: 30px;
    }
  }

  .qr-title {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .qr-items {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
